      .idea/
      /.idea/
      /.idea/
.DS_Store
.idea/inspectionProfiles/Project_Default.xml
.idea/shelf/Uncommitted_changes_before_Update_at_13_10_2020,_11_15_[Default_Changelist]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_13_10_2020,_11_15_[Default_Changelist]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_13_10_2020__11_15__Default_Changelist_.xml
.idea/webResources.xml
.idea/workspace.xml
.idea/shelf/Uncommitted_changes_before_Update_at_13_10_2020,_11_15_[Default_Changelist]/shelved.patch
*.patch
