.subscribe-plan {
  flex: 0 1;
  padding: 25px 25px 60px;

  .plan-name {
    @include adaptive-font(24, 16);
  }

  .price {
    line-height: 0.9;
    align-items: start;

    .price-sum{
      font-size: 60px;
    }

    .currency {
      margin-left: 10px;
      font-size: 30px;
    }
  }

  .subscribe-info {
    font-size: 11px;
    text-align: center;
  }
}