.track-item {
  .track-info {
    column-gap: 16px;

    .track-wrapper {
      row-gap: 5px;
      align-items: flex-start;

      .track-name {
        font-size: 14px;
      }

      .group-name {
        font-size: 12px;
        color: $fourth;
      }
    }
  }

  .duration {
    font-size: 14px;
    color: $fourth;
  }
}