@import 'variables';
@import 'reset';
@import 'atomic.scss';

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px 20px 50px;
  background: $background;
  color: $primary;
  font-family: $font-family;
  font-size: $font-size;
  font-style: normal;
  font-weight: normal;

}

.header {
  flex-wrap: wrap;

  .logo {
    flex-basis: 200px;
    flex-shrink: 1;
    margin-bottom: 20px;

    img {
      margin-right: 5px;
    }

    a {
      text-decoration: none;
    }

  }

  nav {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 450px;

    margin-bottom: 20px;

    .menu {
      flex-wrap: wrap;

      li {
        color: $fourth;
        margin-right: 50px;



        &.active {
          color: $primary;
        }
      }
    }
  }
 .search-form {
   margin-bottom: 20px;

   .search {
     width: 280px;
     height: 25px;
     border-width: 0;
     border-radius: 50px;
     background: #3C3B3D;
     transform: matrix(1, 0, 0, 1, 0, 0);
     padding-left: 15px;

     &::placeholder {
       color: $secondary;
       text-transform: uppercase;
     }

   }
 }
}



.main-top {
  margin-top: 210px;
  margin-bottom: 240px;
  text-align: center;

}

  .main-banner {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    min-width: 100%;
    height: 877px;
    background: url(../images/banner.png) no-repeat center;
    background-size: cover;
  }

  h1 {
    @include adaptive-font(60, 30);
  }

  h3 {
    @include adaptive-font(30, 18);
  }

  .caption-3 {
    @include adaptive-font(18, 12);
  }

  .form {
    flex-wrap: wrap;
    max-width: 570px;


    input {
      margin-bottom: 30px;
      flex-shrink: 1;
      flex-basis: 270px;
      flex-grow: 1;
      height: 50px;
      background: rgba(255, 255, 255, 0.1);
      border: 2px solid rgba(255, 255, 255, 0.1);
      border-radius: 3px;
      padding-left: 20px;
      box-sizing: border-box;

      &::placeholder {
        font-size: 14px;
        color: $primary;
      }
    }


    .button {
      flex-grow: 1;
      min-width: 280px;
      height: 56px;
      background: #34C176;
      font-size: 14px;
      color: $primary;
      text-transform: uppercase;
    }
  }




.main {
  height: auto;

  h2 {
    @include adaptive-font(38, 20);
  }

  .plans {
    width: 100%;
    flex-wrap: wrap;

      .plan {
        margin-top: 50px;

        flex: 0 1 350px;


        .plan-name {
          @include adaptive-font(24, 16);
        }

        .price {
          line-height: 0.9;
          align-items: start;
          margin-top: 220px;

          .price-sum{
            font-size: 60px;
          }

          .currency {
            margin-left: 10px;
            font-size: 30px;
          }
        }

        .subscribe-button {
          padding: 20px 80px;
          text-decoration: none;
          margin: 40px 25px 35px;
          border: 4px solid $primary;
          box-sizing: border-box;
          color: $primary;

          @include adaptive-font(24, 12);
        }

        .subscribe-info {
          margin: 0 24px 60px;
          font-size: 11px;
          text-align: center;
        }
      }
  }

  .plans-info {
    @include adaptive-font(22, 12);
    text-align: center;
  }

  .subscribe-1 {
    background-image: url("../images/subscribe_1.png");
  }

  .subscribe-2 {
    background-image: url("../images/subscribe_2.png");
  }

  .subscribe-3 {
    background-image: url("../images/subscribe_3.png");
  }



  .latest-news {

        h2 {
    text-align: center;
  }

        .news-item{

          .news-image {


            img {
              width: 100%;
              max-width: 566px;
            }
          }

          .news-info {
            max-width: 566px;

            .news-title {
              font-size: 30px;
            }

            .news-short {
              line-height: 28px;
              font-size: 14px;
              color: $secondary;
            }

            .news-about {
              align-items: center;
              width: 220px;

              img {
                width: 25px;
                margin-right: 20px;
              }

              .category {
                font-size: 12px;
                color: #F89202;
              }

              .vertical-border {
                height: 9px;
                border: 1px solid #B8B8B8;
                transform: rotate(180deg);

              }

              .date {
                font-size: 12px;
                color: #555555;
              }

            }

            .news-button {
              padding: 20px 30px;
              background: inherit;
              border: 1px solid #E9E9E9;
              box-sizing: border-box;
              color: #8C8C8C;
              font-size: 12px;
              border-radius: 5px;
            }


          }

        }
  }

  .mobile-app {
    h2 {
      text-align: center;
    }

    .app-download {

      .app-description {
        max-width: 566px;
        p {
          font-size: 16px;

          color: $secondary;
        }

        .download-button {
          padding: 20px 60px;
          background: #FF4157;
          border-radius: 50px;
          font-size: 14px;
          color: inherit;
        }
      }

      .app-image {
        max-width: 566px;
        img {
            width: 100%;
            height: auto;
        }
      }
    }

  }
}
footer {
  padding: 40px 20px 50px;
  color: $third;

  .footer-menu {
    align-items: start;
    flex-wrap: wrap;
  }
  .section-name {
    margin-bottom: 30px;
    font-size: 18px;
  }

  ul {
    font-size: 16px;

  }

  li {
    margin-top: 20px;
  }

}

.footer-gradient {
  width: 100%;

  height: auto;
  position: absolute;
  left: 0;
  z-index: -100;
  background: linear-gradient(89.75deg, #5328A1 32.83%, #95390C 81.56%);
}

.footer-line {
  position: absolute;
  left: 0;
  right: 0;
  size: 1px;
  color: #EEEEEE;
}

.footer-menu-1 {
  flex-wrap: wrap;
  padding-top: 130px;
  font-size: 16px;
  color: $third;

}

.footer-center {
  max-width: 1200px;
  margin: 0 auto;
}


.catalog-banner{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  min-width: 100%;
  height: 550px;
  background: url("../images/Morten Harket.png") no-repeat center;
  background-size: cover;
}

.сatalog-top {
  margin-top: 240px;
}

.buttons {
  width: 100%;
  max-width: 435px;
  column-gap: 35px;
  row-gap: 20px;

  .btn {
    max-width: 280px;
    display: flex;
    flex-basis: 200px;
    flex-shrink: 1;
    flex-grow: 1;


    height: 56px;
    font-weight: normal;
    border-radius: 5px;
    align-items: center;

    img {
      width: 16px;
      margin: 19px;
    }
  }
}

.popular {
  row-gap: 25px;
  column-gap: 70px;
  display: flex;
  flex-direction: column;
  height: 200px;
  flex-wrap: wrap;

  h2 {
    display: flex;
    justify-content: start;
  }



  .popular-item {
    .track-info {
      column-gap: 16px;

      .track-wrapper {
        row-gap: 5px;
        align-items: flex-start;

        .track-name {

        }

        .group-name {

          font-size: 12px;
          color: $fourth;
        }
      }
    }

    .duration {
      font-size: 14px;
      color: $fourth;

    }
  }

}


.discography, .related {
  gap: 50px;
}

.band-item {
  row-gap: 10px;

  .band-image {

      max-width: 250px;
      max-height: 250px;
      .album {
        width: 250px;
      }

    .play-button {
      width: 25px;
      position: relative;
      top: -38px;
      left: 15px;

    }

  }

  .band-name {
    @include adaptive-font(20, 16);
  }

  .discography-year {
    @include adaptive-font(16, 14);
  }

  .related-followers {
    @include adaptive-font(16, 12);
  }
}


.followers {
  @include adaptive-font(18, 14);
}

//////////////////

@media (max-width: 1280px) {
  .main {
    .pricing {
      .plans {
        justify-content: space-around;
      }
    }

  }
}

@media (max-width: 1024px) {

}


@media (max-width: 768px) {
  .header {
    nav {
      order: 3;
    }
  }


  .main-top {
    margin-top: 46px;
    margin-bottom: 40px;
    .banner {
      height: 738px;
    }

  }

  .catalog-banner{
    height: 630px;
  }

  .popular {
    height: auto;
    flex-wrap: nowrap;
  }

}





@media (max-width: 425px) {
  .discography, .related {
    align-items: start;
    column-gap: 20px;
  }

  .band-item {
    row-gap: 10px;

    .band-image {

      max-width: 130px;
      max-height: 130px;
      .album {
        width: 130px;
      }

      .play-button {
        width: 15px;
        position: relative;
        top: -23px;
        left: 5px;

      }
    }
  }

  .discography .band-name {
    width: 100px;
  }

  .related-followers {
    width: 130px;
    text-align: center;
  }
}

@media (max-width: 375px) {


}

@media (max-width: 320px) {

 .header {
   align-items: start;

   nav {
     order: 3;

     .menu {

       flex-direction: column;
       align-items: start;

       li {
         margin-bottom: 10px;
       }
     }
   }
 }

  .news-button {
    width: 100%;
  }

  .download-button {
    width: 100%;
  }

  .footer-menu-1 {
    flex-direction: column;
    align-items: start;
  }



  .сatalog-top {
    margin-top: 100px;
  }



}