@import 'variables';
@import 'reset';
@import 'atomic.scss';

body {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 25px;
  background: $background;
  color: $primary;
  font-family: $font-family;
  font-size: $font-size;
  font-style: normal;
  font-weight: normal;

}

.header {
  img {
    margin-right: 5px;
  }
}

.menu {
  li {
    color: $fourth;
    margin-right: 50px;

    &.active {
      color: $primary;
    }
  }
}

.search {
  width: 280px;
  height: 25px;
  border-width: 0;
  border-radius: 50px;
  background: #3C3B3D;
  transform: matrix(1, 0, 0, 1, 0, 0);
  padding-left: 15px;

  &::placeholder {
  color: $secondary;
  text-transform: uppercase;
  }

}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  min-width: 100%;
  height: 877px;
  background-image: url(../images/banner.png);
  background-size: cover;
}

.main-banner {
  margin-top: 210px;
  margin-bottom: 250px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 30px;
}

.caption-3 {
  margin-top: 45px;
  font-size: 18px;
}

.form {
  margin-top: 40px;
  width: 570px;

  input {
    width: 270px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding-left: 20px;
    box-sizing: border-box;

    &::placeholder {
      font-size: 14px;
      color: $primary;
    }
  }
}

.button {
  width: 570px;
  height: 50px;
  margin-top: 30px;
  background: #34C176;
  font-size: 14px;
  color: $primary;
  text-transform: uppercase;
}



.main {
  height: auto;

  .plans {
    width: 100%;
    margin-top: 50px;

      .plan {
        width: 350px;

        .plan-name {
          font-size: 24px;
          margin-top: 25px;
        }

        .price {
          line-height: 0.9;
          align-items: start;
          margin-top: 220px;

          .price-sum{
            font-size: 60px;
          }

          .currency {
            margin-left: 10px;
            font-size: 30px;
          }
        }

        .subscribe-button {
          padding: 20px 80px;
          text-decoration: none;
          margin: 40px 25px 35px;
          border: 4px solid $primary;
          box-sizing: border-box;
          font-size: 24px;
          color: $primary;
        }

        .subscribe-info {
          margin: 0 24px 60px;
          font-size: 11px;
          text-align: center;
        }
      }
  }

  .subscribe-1 {
    background-image: url("../images/subscribe_1.png");
  }

  .subscribe-2 {
    background-image: url("../images/subscribe_2.png");
  }

  .subscribe-3 {
    background-image: url("../images/subscribe_3.png");
  }

  .plans-info {
    margin-top: 50px;
    font-size: 22px;
    text-align: center;
  }

  .latest-news {
        h2 {
    text-align: center;
  }

        .news-item{
          column-gap: 70px;


          .news-title {
            font-size: 30px;
          }

          .news-short {
            margin-top: 25px;
            line-height: 28px;
            font-size: 14px;
            color: $secondary;
          }

          .news-about {
            margin-top: 20px;
            column-gap: 20px;
            align-items: center;


            .category {
              font-size: 12px;
              color: #F89202;
            }

            .vertical-border {
              height: 9px;
              border: 1px solid #B8B8B8;
              transform: rotate(180deg);

            }

            .date {
              font-size: 12px;
              color: #555555;
            }
          }

          .news-button {
            margin-top: 50px;
            padding: 20px 30px;
            background: inherit;
            border: 1px solid #E9E9E9;
            box-sizing: border-box;
            color: #8C8C8C;
            font-size: 12px;
          }
        }
  }

  .mobile-app {
    h2 {
      text-align: center;
    }

    .app-download {
      .app-description {
        p {
          font-size: 16px;
          height: 38px;
          color: $secondary;
        }

        .download-button {
          padding: 20px 60px;
          background: #FF4157;
          border-radius: 50px;
          font-size: 14px;
          color: inherit;
        }
      }
    }

  }
}
footer {
  padding: 80px 0 50px;
  color: $third;

  .section-name {
    margin-bottom: 30px;
    font-size: 18px;
  }

  ul {
    font-size: 16px;

  }

  li {
    margin-top: 20px;
  }

}

.footer-gradient {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  z-index: -100;
  background: linear-gradient(89.75deg, #5328A1 32.83%, #95390C 81.56%);
}

.footer-line {
  position: absolute;
  left: 0;
  right: 0;
  size: 1px;
  color: #EEEEEE;
}

.footer-menu {
  padding-top: 150px;
  font-size: 16px;
  color: $third;
}

.footer-center {
  max-width: 1200px;
  margin: 0 auto;
}