/* colors */

.active {
  color: $primary;
}
/* grid */

@mixin grid-x ($columns: 12, $width:1fr) {
      display: grid;
      grid-template-columns: repeat($columns, $width);
}

$maxWidth: 1920;
@mixin adaptive-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

.grid-4 {
  @include grid-x(4, max-content);
}


/* column-gap 10-100px */
@for $i from 1 through 10 {
  .column-gap-#{$i*10} {
    column-gap: $i*10px;
  }
}


/* row-gap 10-100px */
@for $i from 1 through 10 {
  .row-gap-#{$i*10} {
    row-gap: $i*10px;
  }
}

.flex{
  display: flex;
  align-items: center;
}


.flex-column {
  flex-direction: column;
}

.jc-sb {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;
}
.flex-wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.align-normal {
  align-items: normal;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: start;
}

/* Fonts */
.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

/* margin-top 5-100px */
@for $i from 1 through 30 {
    .mt-#{$i*5} {
      margin-top: $i*5px;
    }
}

/* Colors */

.brown {
  background: #95390C;
}

.violet {
  background: #5328A1;
}