@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet');

$background: #08020D;
$font-family: 'Roboto', sans-serif;
$font-size: 11px;


/* Colors */
$primary: #FFFFFF;
$secondary: #8C8C8C;
$third: #CACACA;
$fourth: #808080;