@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

$background: #08020D;
$font-family: 'Roboto';
$font-size: 11px;

/* Colors */
$primary: #FFFFFF;
$secondary: #8C8C8C;
$third: #CACACA;
$fourth: #808080;