@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet');
/* Colors */
ul, p, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a,
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
}

/* grid */
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, max-content);
}

/* column-gap 10-100px */
.column-gap-10 {
  column-gap: 10px;
}

.column-gap-20 {
  column-gap: 20px;
}

.column-gap-30 {
  column-gap: 30px;
}

.column-gap-40 {
  column-gap: 40px;
}

.column-gap-50 {
  column-gap: 50px;
}

.column-gap-60 {
  column-gap: 60px;
}

.column-gap-70 {
  column-gap: 70px;
}

.column-gap-80 {
  column-gap: 80px;
}

.column-gap-90 {
  column-gap: 90px;
}

.column-gap-100 {
  column-gap: 100px;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.jc-sb {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.align-normal {
  align-items: normal;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: start;
}

/* Fonts */
.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

/* margin-top 5-100px */
.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

/* Colors */
.brown {
  background: #95390C;
}

.violet {
  background: #5328A1;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px 20px 50px;
  background: #08020D;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
}

.header {
  flex-wrap: wrap;
}
.header .logo {
  flex-basis: 200px;
  flex-shrink: 1;
  margin-bottom: 20px;
}
.header .logo img {
  margin-right: 5px;
}
.header .logo a {
  text-decoration: none;
}
.header nav {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 450px;
  margin-bottom: 20px;
}
.header nav .menu {
  flex-wrap: wrap;
}
.header nav .menu li {
  color: #808080;
  margin-right: 50px;
}
.header nav .menu li.active {
  color: #FFFFFF;
}
.header .search-form {
  margin-bottom: 20px;
}
.header .search-form .search {
  width: 280px;
  height: 25px;
  border-width: 0;
  border-radius: 50px;
  background: #3C3B3D;
  transform: matrix(1, 0, 0, 1, 0, 0);
  padding-left: 15px;
}
.header .search-form .search::placeholder {
  color: #8C8C8C;
  text-transform: uppercase;
}

.main-top {
  margin-top: 210px;
  margin-bottom: 240px;
  text-align: center;
}

.main-banner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  min-width: 100%;
  height: 877px;
  background: url(../images/banner.png) no-repeat center;
  background-size: cover;
}

h1 {
  font-size: calc(30px + 30 * ((100vw - 320px) / 1600));
}

h3 {
  font-size: calc(18px + 12 * ((100vw - 320px) / 1600));
}

.caption-3 {
  font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
}

.form {
  flex-wrap: wrap;
  max-width: 570px;
}
.form input {
  margin-bottom: 30px;
  flex-shrink: 1;
  flex-basis: 270px;
  flex-grow: 1;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding-left: 20px;
  box-sizing: border-box;
}
.form input::placeholder {
  font-size: 14px;
  color: #FFFFFF;
}
.form .button {
  flex-grow: 1;
  min-width: 280px;
  height: 56px;
  background: #34C176;
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.main {
  height: auto;
}
.main h2 {
  font-size: calc(20px + 18 * ((100vw - 320px) / 1600));
}
.main .plans {
  width: 100%;
  flex-wrap: wrap;
}
.main .plans .plan {
  margin-top: 50px;
  flex: 0 1 350px;
}
.main .plans .plan .plan-name {
  font-size: calc(16px + 8 * ((100vw - 320px) / 1600));
}
.main .plans .plan .price {
  line-height: 0.9;
  align-items: start;
  margin-top: 220px;
}
.main .plans .plan .price .price-sum {
  font-size: 60px;
}
.main .plans .plan .price .currency {
  margin-left: 10px;
  font-size: 30px;
}
.main .plans .plan .subscribe-button {
  padding: 20px 80px;
  text-decoration: none;
  margin: 40px 25px 35px;
  border: 4px solid #FFFFFF;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: calc(12px + 12 * ((100vw - 320px) / 1600));
}
.main .plans .plan .subscribe-info {
  margin: 0 24px 60px;
  font-size: 11px;
  text-align: center;
}
.main .plans-info {
  font-size: calc(12px + 10 * ((100vw - 320px) / 1600));
  text-align: center;
}
.main .subscribe-1 {
  background-image: url("../images/subscribe_1.png");
}
.main .subscribe-2 {
  background-image: url("../images/subscribe_2.png");
}
.main .subscribe-3 {
  background-image: url("../images/subscribe_3.png");
}
.main .latest-news h2 {
  text-align: center;
}
.main .latest-news .news-item .news-image img {
  width: 100%;
  max-width: 566px;
}
.main .latest-news .news-item .news-info {
  max-width: 566px;
}
.main .latest-news .news-item .news-info .news-title {
  font-size: 30px;
}
.main .latest-news .news-item .news-info .news-short {
  line-height: 28px;
  font-size: 14px;
  color: #8C8C8C;
}
.main .latest-news .news-item .news-info .news-about {
  align-items: center;
  width: 220px;
}
.main .latest-news .news-item .news-info .news-about img {
  width: 25px;
  margin-right: 20px;
}
.main .latest-news .news-item .news-info .news-about .category {
  font-size: 12px;
  color: #F89202;
}
.main .latest-news .news-item .news-info .news-about .vertical-border {
  height: 9px;
  border: 1px solid #B8B8B8;
  transform: rotate(180deg);
}
.main .latest-news .news-item .news-info .news-about .date {
  font-size: 12px;
  color: #555555;
}
.main .latest-news .news-item .news-info .news-button {
  padding: 20px 30px;
  background: inherit;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  color: #8C8C8C;
  font-size: 12px;
  border-radius: 5px;
}
.main .mobile-app h2 {
  text-align: center;
}
.main .mobile-app .app-download .app-description {
  max-width: 566px;
}
.main .mobile-app .app-download .app-description p {
  font-size: 16px;
  color: #8C8C8C;
}
.main .mobile-app .app-download .app-description .download-button {
  padding: 20px 60px;
  background: #FF4157;
  border-radius: 50px;
  font-size: 14px;
  color: inherit;
}
.main .mobile-app .app-download .app-image {
  max-width: 566px;
}
.main .mobile-app .app-download .app-image img {
  width: 100%;
  height: auto;
}

footer {
  padding: 40px 20px 50px;
  color: #CACACA;
}
footer .footer-menu {
  align-items: start;
  flex-wrap: wrap;
}
footer .section-name {
  margin-bottom: 30px;
  font-size: 18px;
}
footer ul {
  font-size: 16px;
}
footer li {
  margin-top: 20px;
}

.footer-gradient {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  z-index: -100;
  background: linear-gradient(89.75deg, #5328A1 32.83%, #95390C 81.56%);
}

.footer-line {
  position: absolute;
  left: 0;
  right: 0;
  size: 1px;
  color: #EEEEEE;
}

.footer-menu-1 {
  flex-wrap: wrap;
  padding-top: 130px;
  font-size: 16px;
  color: #CACACA;
}

.footer-center {
  max-width: 1200px;
  margin: 0 auto;
}

.catalog-banner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  min-width: 100%;
  height: 550px;
  background: url("../images/Morten Harket.png") no-repeat center;
  background-size: cover;
}

.сatalog-top {
  margin-top: 240px;
}

.buttons {
  width: 100%;
  max-width: 435px;
  column-gap: 35px;
  row-gap: 20px;
}
.buttons .btn {
  max-width: 280px;
  display: flex;
  flex-basis: 200px;
  flex-shrink: 1;
  flex-grow: 1;
  height: 56px;
  font-weight: normal;
  border-radius: 5px;
  align-items: center;
}
.buttons .btn img {
  width: 16px;
  margin: 19px;
}

.popular {
  row-gap: 25px;
  column-gap: 70px;
  display: flex;
  flex-direction: column;
  height: 200px;
  flex-wrap: wrap;
}
.popular h2 {
  display: flex;
  justify-content: start;
}
.popular .popular-item .track-info {
  column-gap: 16px;
}
.popular .popular-item .track-info .track-wrapper {
  row-gap: 5px;
  align-items: flex-start;
}
.popular .popular-item .track-info .track-wrapper .group-name {
  font-size: 12px;
  color: #808080;
}
.popular .popular-item .duration {
  font-size: 14px;
  color: #808080;
}

.discography, .related {
  gap: 50px;
}

.band-item {
  row-gap: 10px;
}
.band-item .band-image {
  max-width: 250px;
  max-height: 250px;
}
.band-item .band-image .album {
  width: 250px;
}
.band-item .band-image .play-button {
  width: 25px;
  position: relative;
  top: -38px;
  left: 15px;
}
.band-item .band-name {
  font-size: calc(16px + 4 * ((100vw - 320px) / 1600));
}
.band-item .discography-year {
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
}
.band-item .related-followers {
  font-size: calc(12px + 4 * ((100vw - 320px) / 1600));
}

.followers {
  font-size: calc(14px + 4 * ((100vw - 320px) / 1600));
}

@media (max-width: 1280px) {
  .main .pricing .plans {
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .header nav {
    order: 3;
  }

  .main-top {
    margin-top: 46px;
    margin-bottom: 40px;
  }
  .main-top .banner {
    height: 738px;
  }

  .catalog-banner {
    height: 630px;
  }

  .popular {
    height: auto;
    flex-wrap: nowrap;
  }
}
@media (max-width: 425px) {
  .discography, .related {
    align-items: start;
    column-gap: 20px;
  }

  .band-item {
    row-gap: 10px;
  }
  .band-item .band-image {
    max-width: 130px;
    max-height: 130px;
  }
  .band-item .band-image .album {
    width: 130px;
  }
  .band-item .band-image .play-button {
    width: 15px;
    position: relative;
    top: -23px;
    left: 5px;
  }

  .discography .band-name {
    width: 100px;
  }

  .related-followers {
    width: 130px;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .header {
    align-items: start;
  }
  .header nav {
    order: 3;
  }
  .header nav .menu {
    flex-direction: column;
    align-items: start;
  }
  .header nav .menu li {
    margin-bottom: 10px;
  }

  .news-button {
    width: 100%;
  }

  .download-button {
    width: 100%;
  }

  .footer-menu-1 {
    flex-direction: column;
    align-items: start;
  }

  .сatalog-top {
    margin-top: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
