@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet');
/* Colors */
ul, p, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a,
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
}

/* colors */
.active {
  color: #FFFFFF;
}

/* grid */
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, max-content);
}

/* column-gap 10-100px */
.column-gap-10 {
  column-gap: 10px;
}

.column-gap-20 {
  column-gap: 20px;
}

.column-gap-30 {
  column-gap: 30px;
}

.column-gap-40 {
  column-gap: 40px;
}

.column-gap-50 {
  column-gap: 50px;
}

.column-gap-60 {
  column-gap: 60px;
}

.column-gap-70 {
  column-gap: 70px;
}

.column-gap-80 {
  column-gap: 80px;
}

.column-gap-90 {
  column-gap: 90px;
}

.column-gap-100 {
  column-gap: 100px;
}

/* row-gap 10-100px */
.row-gap-10 {
  row-gap: 10px;
}

.row-gap-20 {
  row-gap: 20px;
}

.row-gap-30 {
  row-gap: 30px;
}

.row-gap-40 {
  row-gap: 40px;
}

.row-gap-50 {
  row-gap: 50px;
}

.row-gap-60 {
  row-gap: 60px;
}

.row-gap-70 {
  row-gap: 70px;
}

.row-gap-80 {
  row-gap: 80px;
}

.row-gap-90 {
  row-gap: 90px;
}

.row-gap-100 {
  row-gap: 100px;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.jc-sb {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.align-normal {
  align-items: normal;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: start;
}

/* Fonts */
.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

/* margin-top 5-250px */
.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-105 {
  margin-top: 105px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-115 {
  margin-top: 115px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-125 {
  margin-top: 125px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-135 {
  margin-top: 135px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-145 {
  margin-top: 145px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-155 {
  margin-top: 155px;
}

.mt-160 {
  margin-top: 160px;
}

.mt-165 {
  margin-top: 165px;
}

.mt-170 {
  margin-top: 170px;
}

.mt-175 {
  margin-top: 175px;
}

.mt-180 {
  margin-top: 180px;
}

.mt-185 {
  margin-top: 185px;
}

.mt-190 {
  margin-top: 190px;
}

.mt-195 {
  margin-top: 195px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-205 {
  margin-top: 205px;
}

.mt-210 {
  margin-top: 210px;
}

.mt-215 {
  margin-top: 215px;
}

.mt-220 {
  margin-top: 220px;
}

.mt-225 {
  margin-top: 225px;
}

.mt-230 {
  margin-top: 230px;
}

.mt-235 {
  margin-top: 235px;
}

.mt-240 {
  margin-top: 240px;
}

.mt-245 {
  margin-top: 245px;
}

.mt-250 {
  margin-top: 250px;
}

/* margin-bottom 5-150px */
.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-105 {
  margin-bottom: 105px;
}

.mb-110 {
  margin-bottom: 110px;
}

.mb-115 {
  margin-bottom: 115px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-125 {
  margin-bottom: 125px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-135 {
  margin-bottom: 135px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-145 {
  margin-bottom: 145px;
}

.mb-150 {
  margin-bottom: 150px;
}

/* Colors */
.brown {
  background: #95390C;
}

.violet {
  background: #5328A1;
}

.menu-horizontal {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
}

@media (max-width: 320px) {
  .menu-horizontal {
    flex-direction: column;
    align-items: flex-start;
  }
}
.subscribe-plan {
  flex: 0 1;
  padding: 25px 25px 60px;
}
.subscribe-plan .plan-name {
  font-size: calc(16px + 8 * ((100vw - 320px) / 1600));
}
.subscribe-plan .price {
  line-height: 0.9;
  align-items: start;
}
.subscribe-plan .price .price-sum {
  font-size: 60px;
}
.subscribe-plan .price .currency {
  margin-left: 10px;
  font-size: 30px;
}
.subscribe-plan .subscribe-info {
  font-size: 11px;
  text-align: center;
}

.track-item .track-info {
  column-gap: 16px;
}
.track-item .track-info .track-wrapper {
  row-gap: 5px;
  align-items: flex-start;
}
.track-item .track-info .track-wrapper .track-name {
  font-size: 14px;
}
.track-item .track-info .track-wrapper .group-name {
  font-size: 12px;
  color: #808080;
}
.track-item .duration {
  font-size: 14px;
  color: #808080;
}

.album-item {
  row-gap: 10px;
}
.album-item .band-image {
  max-width: 250px;
  max-height: 250px;
}
.album-item .band-image .album {
  width: 250px;
}
.album-item .band-image .play-button {
  width: 25px;
  position: relative;
  top: -38px;
  left: 15px;
}
.album-item .band-name {
  font-size: calc(16px + 4 * ((100vw - 320px) / 1600));
}
.album-item .discography-year {
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
}
.album-item .related-followers {
  font-size: calc(12px + 4 * ((100vw - 320px) / 1600));
}

@media (max-width: 425px) {
  .album-item {
    row-gap: 10px;
  }
  .album-item .band-image {
    max-width: 130px;
    max-height: 130px;
  }
  .album-item .band-image .album {
    width: 130px;
  }
  .album-item .band-image .play-button {
    width: 15px;
    position: relative;
    top: -23px;
    left: 5px;
  }
}
body {
  margin: 0 auto;
  background: #08020D;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
}

.menu {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.menu .logo {
  flex-basis: 200px;
  flex-shrink: 1;
}
.menu .logo img {
  margin-right: 5px;
}
.menu .logo a {
  text-decoration: none;
}
.menu .header-menu {
  flex: 1 1 450px;
  color: #808080;
}
.menu .search {
  width: 280px;
  height: 25px;
  border-width: 0;
  border-radius: 50px;
  background: #3C3B3D;
  transform: matrix(1, 0, 0, 1, 0, 0);
  padding-left: 15px;
}
.menu .search::placeholder {
  color: #8C8C8C;
  text-transform: uppercase;
}

.header {
  height: 100%;
  margin: 0 auto;
  padding: 25px 20px 0;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.w1200 {
  width: 100%;
  max-width: 1200px;
}

.main-top {
  margin-top: 230px;
  margin-bottom: 250px;
}

.catalog-top {
  margin-top: 240px;
  margin-bottom: 80px;
}

.main-banner {
  background-image: url("../images/banner.png");
}

.catalog-banner {
  background-image: url("../images/Morten Harket.png");
}

.subscribe-btn {
  padding: 20px 80px;
  border: 4px solid #FFFFFF;
  font-size: calc(12px + 12 * ((100vw - 320px) / 1600));
}

h1 {
  font-size: calc(30px + 30 * ((100vw - 320px) / 1600));
}

.subtitle {
  font-size: calc(18px + 12 * ((100vw - 320px) / 1600));
}

.caption-3 {
  font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
}

.form {
  flex-wrap: wrap;
  max-width: 570px;
}
.form input {
  flex: 1 1 270px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding-left: 20px;
  box-sizing: border-box;
}
.form input::placeholder {
  font-size: 14px;
  color: #FFFFFF;
}
.form .button {
  flex-grow: 1;
  min-width: 280px;
  height: 56px;
  background: #34C176;
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.subscribe-1 {
  background-image: url("../images/subscribe_1.png");
}

.subscribe-2 {
  background-image: url("../images/subscribe_2.png");
}

.subscribe-3 {
  background-image: url("../images/subscribe_3.png");
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  height: auto;
}
.main h2 {
  font-size: calc(20px + 18 * ((100vw - 320px) / 1600));
}

.plans {
  width: 100%;
  flex-wrap: wrap;
}

.plans-info {
  font-size: calc(12px + 10 * ((100vw - 320px) / 1600));
  text-align: center;
}

.latest-news h2 {
  text-align: center;
}

.news-image img {
  width: 100%;
  max-width: 566px;
}

.news-info {
  flex: 1 1 350px;
}
.news-info .news-title {
  font-size: 30px;
}
.news-info .news-short {
  line-height: 28px;
  font-size: 14px;
  color: #8C8C8C;
}
.news-info .news-about {
  align-items: center;
  width: 220px;
}
.news-info .news-about img {
  width: 25px;
  margin-right: 20px;
}
.news-info .news-about .category {
  font-size: 12px;
  color: #F89202;
}
.news-info .news-about .vertical-border {
  height: 9px;
  border: 1px solid #B8B8B8;
}
.news-info .news-about .date {
  font-size: 12px;
  color: #555555;
}
.news-info .news-button {
  padding: 20px 30px;
  background: inherit;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  color: #8C8C8C;
  font-size: 12px;
  border-radius: 5px;
}

.mobile-app h2 {
  text-align: center;
}

.app-description {
  flex: 0 1 570px;
}
.app-description p {
  font-size: 16px;
  color: #8C8C8C;
}

.download-button {
  padding: 20px 60px;
  background: #FF4157;
  border-radius: 50px;
  font-size: 14px;
}

.app-image {
  flex: 0 1 300px;
}

.footer {
  width: 100%;
  background: linear-gradient(89.75deg, #5328A1 32.83%, #95390C 81.56%);
}
.footer .footer-menu {
  align-items: start;
  flex-wrap: wrap;
}
.footer .footer-menu li {
  margin-top: 20px;
}
.footer .section-name {
  margin-bottom: 30px;
  font-size: 18px;
}

.footer-line {
  position: absolute;
  left: 0;
  right: 0;
  size: 1px;
  color: #EEEEEE;
}

.footer-center {
  max-width: 1200px;
  margin: 0 auto;
  color: #CACACA;
  font-size: 16px;
  padding: 40px 20px 50px;
}

.buttons {
  width: 100%;
  max-width: 435px;
  column-gap: 35px;
  row-gap: 20px;
}
.buttons .btn {
  max-width: 280px;
  display: flex;
  flex-basis: 200px;
  flex-shrink: 1;
  flex-grow: 1;
  height: 56px;
  font-weight: normal;
  border-radius: 5px;
  align-items: center;
}
.buttons .btn img {
  width: 16px;
  margin: 19px;
}

.popular-wrapper {
  row-gap: 25px;
  column-gap: 70px;
  display: flex;
  flex-direction: column;
  height: 200px;
  flex-wrap: wrap;
}

.discography-wrapper, .related-wrapper {
  gap: 50px;
}

.followers {
  font-size: calc(14px + 4 * ((100vw - 320px) / 1600));
}

@media (max-width: 1280px) {
  .plans {
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .header-menu {
    order: 3;
  }

  .popular-wrapper {
    height: auto;
    flex-wrap: nowrap;
  }
}
@media (max-width: 425px) {
  .discography-wrapper, .related-wrapper {
    align-items: start;
    column-gap: 20px;
  }

  .discography-wrapper .band-name {
    width: 100px;
  }

  .related-followers {
    width: 130px;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .main-top {
    margin-top: 70px;
    margin-bottom: 40px;
  }

  .catalog-top {
    margin-top: 100px;
    margin-bottom: 95px;
  }

  .menu {
    align-items: start;
  }

  .header-menu {
    order: 3;
  }

  .news-button {
    width: 100%;
  }

  .download-button {
    width: 100%;
  }
}
a:hover, button:hover {
  opacity: 0.5;
}

/*# sourceMappingURL=style.css.map */
